 *{
    margin: 0;
    padding: 0;   
 }
.header{
    background-color:#FFFFFF;
    width: 100%;
    height: 100px;
    left: 165px;
}
.nav-left{
    display: flex;
    padding: 30px;
}
.nav-left img{
    height: 50px;
    width: 50px;
}
.nav-left h2{
    padding-left: 20px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .nav-list ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -63px;
}
li a{
    padding-left: 80px;
text-decoration: none;
margin-right: 80px;
font-size: 25px;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* --------------navbar section ends here----------- */
.hero{
  display: flex;
  padding: 20px;
  padding-left: 50px;
  margin-top: 40px;
}
.hero-left{
  padding-left: 20px;
}
.hero-con{
width: 434px;
height: 35px;
left: 155px;
border-radius: 26.5px;
display: flex;
background-color:#E7F6FF;
justify-content: center;
padding-top: 10px;
}
.hero-con button{
    height: 28px;
    width: 86px;
    background-color: #193E6C;
    border: 1px solid #193E6C;
    border-radius: 20px;
    color: white;
}
.hero-con p{
  padding-bottom: 8px;
}
.hero-title h1{
  font-family: Playfair Display;
font-size: 80px;
font-weight: 700;
color: #094B72;
}
.hero-title p{
    font-family: Plus Jakarta Sans;
font-size: 24px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.5px;
margin-top: 20px;
}

.hero-title button{
    width: 150px;
height: 60px;
border: 1px solid #193E6C;
background-color:#193E6C;
border-radius: 8px;
font-size: medium;
font-weight: bold;
color: white;
margin-top: 50px;
font-family: Plus Jakarta Sans;
}
.hero-title .para{
  color:#8B8C8C; 
  font-family: sans-serif;
}
 .logo1{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    gap: 60px;
}
.logo1 img{
    height: 20px;
}
.logo2{
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    gap: 40px;
}
.logo2 img{
    height: 20px;
    margin-bottom: 30px;
}
 .hero-right{
  width: 65%;
 }
  .profile{
       margin-left: 05px;
       /* position: absolute; */
       margin-top: -60px;
  }
  .profile img{
height: 700px;
width: 400px;
} 
.profile h3{
  height: 70px;
  width: 250px;
  background-color: #FFFFFF;
  position: relative;
  margin-top: -50px;
  margin-left: 90px;
  border-radius: 10px;
  box-shadow: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33475B;
  font-weight: 700;
}
/*---------- hero section ends here-----------  */
   .service{
    background-color: #F2F7FF;
    width: 100%;
    height: 800px;
   }
   .serv-left {
      /* flex: 1; */
      padding: 20px;
      float: left;
      margin-top: 350px;
      width: 30%;
   }
   .serv-left h1{
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.32307693362236023px;
    text-align: left;
    
   }
   .serv-left p{
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.5px;
text-align: left;

   }
 .serv-right{
  flex: 2;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 280px;
 }
 .card {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  width: calc(50% - 30px);
  margin-bottom: 20px;
 padding: 10px;
 height: 150px;
}
.card img {
  margin-top: 8px;
  margin-left: 10px;
  height: 30px;
  width:30px;
 border-radius: 50%;
  }
  .card h2{
    font-family: Playfair Display;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 8px;
  }
  .card p{
    margin-top: 8px;
    font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.30000001192092896px;
text-align: left;
}
 /* ---------------service section ends here------------ */
/* .BG{
height: 250px;
width: auto;
background-color: #094B72;
color: white;
text-align: center;
padding-top: 25px;
}
.BG .h1{
    font-family: sans-serif;
    margin-top: 10px;
}
.BG p{
    margin-top: 10px;
}
.counts{
padding-left: 500px;
padding-top: 30px;
gap: 25px;
display: flex;

}
.client{
 width: auto;
 height: 500px;
 background-color: #F2F7FF;
 margin: auto;
 
}
.client h1{
text-align: center;
padding-top: 70px;
font-weight: 700;
}
.testimonial{
    display: flex;
 text-align: center;
padding: 10px;
margin-left: 130px;
}

.card{
    width: 350px;
height: 230px;
border-radius: 10px;
color: #4F4F4F;
border-radius: 10px;
background-color: #FFFFFF;
margin-top: 50px;
margin-left: 100px;
padding: 20px 10px 0px 10px;
}
.person{
    background-color: gray;
    margin-top: 10px;
}
.card img{
    width: 50px;
height: 50px;
border-radius: 2px;

padding-top: 8px;
display: flex;
float: left;

}
.card h5 {
    display: flex;
    padding-top: 25px;
    padding-left: 20px;
    font-weight: bold;
}
.questions{
    background-color: #FFFFFF;
    width: auto;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px; 
}
.que-left{
    padding-left: 200px;
}
.que-left p{
    color: #8B8C8C;
    padding: 10px;
   }
   .call-button {
    display: inline-block;
    background-color:#094B72;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .call-button i {
    margin-right: 5px;
  }
   .que-right img{
    width: 45%;
    display: flex;
    padding-left: 100px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #094B72;
    width: auto;
height: 400px;
top: 3109px;
color: white;
  }
  .left-data {
    flex: 1;
    display: flex; 
    
}
.left-data h3{
     padding-top: 5px;
     padding-left: 15px;
}
  .L{
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: blue;
    text-align: center;
  }
  .columns {
    flex: 3;
    display: flex;
    padding-right: 100px;
  }
   .ul {
    list-style-type: none;
    background-color: red !important;
    margin: 0px auto;
   }
   .list-column ul{
    display: flex;
    flex-direction: column;
    /* margin: 0px auto;

   }
   .list-column ul {
padding: auto;
   }
.inner-footer {
    background-color:#004D7B;
    padding-top: 10px;
    height: 60px;
    width: auto;
    display: flex;
    color: white;
     }
     .inner-footer p{
        margin-top: 20px;
        margin-left: 20px;
     }
 .inner-footer .icons{
  margin-left: 700px;
}  */