 *{
    margin: 0;
    padding: 0;   
 }
.header{
    background-color:#FFFFFF;
    width: 100%;
    height: 100px;
    left: 165px;
}
.nav-left{
    display: flex;
    padding: 30px;
}
.nav-left img{
    height: 50px;
    width: 50px;
}
.nav-left h2{
    padding-left: 20px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .nav-list ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: -63px;
}
li a{
    padding-left: 70px;
text-decoration: none;
margin-right: 80px;
font-size: 25px;
font-weight: bold;
gap: 5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* --------------navbar section ends here----------- */
.hero{
  display: flex;
  padding: 20px;
  padding-left: 50px;
  margin-top: 40px;
}
.hero-left{
  padding-left: 20px;
}
.hero-con{
width: 434px;
height: 35px;
left: 155px;
border-radius: 26.5px;
display: flex;
background-color:#E7F6FF;
justify-content: center;
padding-top: 10px;
}
.hero-con button{
    height: 28px;
    width: 86px;
    background-color: #193E6C;
    border: 1px solid #193E6C;
    border-radius: 20px;
    color: white;
}
.hero-con p{
  padding-bottom: 8px;
}
.hero-title h1{
  font-family: Playfair Display;
font-size: 80px;
font-weight: 700;
color: #094B72;
}
.hero-title p{
    font-family: Plus Jakarta Sans;
font-size: 24px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.5px;
margin-top: 20px;
}

.hero-title button{
    width: 150px;
height: 60px;
border: 1px solid #193E6C;
background-color:#193E6C;
border-radius: 8px;
font-size: medium;
font-weight: bold;
color: white;
margin-top: 50px;
font-family: Plus Jakarta Sans;
}
.hero-title .para{
  color:#8B8C8C; 
  font-family: sans-serif;
}
 .logo1{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    gap: 60px;
}
.logo1 img{
    height: 20px;
}
.logo2{
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    gap: 40px;
}
.logo2 img{
    height: 20px;
    margin-bottom: 30px;
}
 .hero-right{
  width: 65%;
 }
  .profile{
       margin-left: 05px;
       margin-top: -60px;
  }
  .profile img{
height: 700px;
width: 400px;
} 
.profile h3{
  height: 70px;
  width: 250px;
  background-color: #FFFFFF;
  position: relative;
  margin-top: -50px;
  margin-left: 90px;
  border-radius: 10px;
  box-shadow: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #33475B;
  font-weight: 700;
}
/*---------- hero section ends here-----------  */
   .service{
    background-color: #F2F7FF;
    width: 100%;
    height: 800px;
   }
   .serv-left {
      padding: 20px;
      float: left;
      margin-top: 280px;
      width: 30%;
   }
   .serv-left h1{
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.32307693362236023px;
    text-align: left;
    
   }
   .serv-left p{
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.5px;
text-align: left;

   }
 .serv-right{
  flex: 2;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 200px;
 }
 .card {
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  width: calc(50% - 30px);
  margin-bottom: 20px;
 padding: 10px;
 height: 150px;
}
.card img {
  margin-top: 8px;
  margin-left: 10px;
  height: 30px;
  width:30px;
 border-radius: 50%;
  }
  .card h2{
    font-family: Playfair Display;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 8px;
  }
  .card p{
    margin-top: 8px;
    font-family: Plus Jakarta Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.30000001192092896px;
text-align: left;
}
 /* ---------------service section ends here------------ */
 .BG{
height: 250px;
width: 100%;
background-color: #094B72;
color: white;
text-align: center;
padding-top: 25px;
}
.achievement h1{
    font-family: Playfair Display;
font-size: 48px;
font-weight: 900;
line-height: 64px;
letter-spacing: 0.005em;
text-align: center;

}
.achievement p{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.5px;
text-align: center;

}
.counts{
padding-left: 420px;
padding-top: 30px;
gap: 80px;
display: flex;
}
.count-items{
  border-right: 1px solid white;
  padding-right: 10px;
}
.count-items h1{
  font-family: Poppins;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  
}
.count-items p{
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.003em;
text-align: center;

}
/* -------------achievement ends ------------ */
.testimonial{
  background-color: #F2F7FF;
  height: 500px;

}
.main-h1{
padding-top: 45px;
  font-size: 50px;
  font-weight: 700;
  color: #2D2F30;
  letter-spacing: 0.5px;
  text-align: center;
}
.testi-cards{
  display: flex;
  width: Hug (1,100px);
height: Hug (250px);
gap: 30px;
justify-content: center;
margin-top: 20px;
}
.cards{
  width: 400px;
height: 250px;
background-color: #FFFFFF;
gap: 20px;
border-radius: 10px;
}
.cards h1{
  font-family: Poppins;
font-size: 18px;
font-weight: bold;
line-height: 28px;
text-align: center;
padding: 10px;
 
}
.cards p{
  font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: center;
}
.person-detail{
  display: flex;
  justify-content: center;
  width: Hug (209px);
height: Hug (56px);
gap: 16px;
}
.person-detail img{
  width: 56px;
height: 56px;
}
.pers-info{
  width: Hug (137px);
height: Hug (52px);
}
.pers-info h2{
font-family: Inter;
font-size: 18px;
font-weight: 700;
line-height: 45px;
text-align: left;
}
.pers-info p{
  font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 2px;
text-align: left;
}
/* --------------testimonial ends ------------ */
 .questions{ 
    background-color: #FFFFFF;
height: 350px;
display: flex;
align-items: center; 
}
.que-left{
    margin-top: 40px;
    padding-left: 200px;
    font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.5px;
}
.que-left h1{
  padding-right: 235px;
  font-family: Playfair Display;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0.5px;
}
.que-left p{
    color: #8B8C8C;
    padding: 10px;
   }
   .call-button {
    display: inline-block;
    background-color:#094B72;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 550px;
    width: 180px;
    height: 40px;
  }

  .call-button i {
    margin-right: 5px;
  }
   .que-right img{
    display: flex;
    padding-right: 170px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-top: 45px;
  }
  /* -----------------Questions section ends here ---------------- */

 .footer { 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #094B72;
    width: auto;
height: 300px;
padding-left: 200px;
color: white;
  }
  .left-data {
    flex: 1;
    display: flex; 
    margin-top: 65px;
}
.left-data h3{
     padding-top: 5px;
     padding-left: 15px;
     align-items: center;
}
  .L{
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    color: blue;
    text-align: center;
  }
  .columns {
    flex: 3;
    display: flex;
    padding-right: 100px;
    gap: 130px;
    align-items: center;
    align-items: center;
  }
   .list-column ul{
     list-style: none;
     margin-top: 15px;
   }
   .list-column ul li{
    margin-top: 10px;
   }
   /* --------------Footer ended ------------ */
.inner-footer {
    background-color:#004D7B;
    padding-top: 10px;
    height: 60px;
    width: auto;
    display: flex;
    color: white;
     }
     .inner-footer p{
        margin-top: 20px;
        margin-left: 20px;
     }
   .icons{
height: fit-content;
width: fit-content;
margin-left: 750px;
margin-top: 15px;
}   
.inner-footer .icons img{
  width: 24px;
height: 24px;
margin-right: 20px;
}